@model DemoApp1.Models.Employee

<h2> Employee Details</h2>
<ul>
     <li> Id : @Model.EmployeeId</li>
    <li>Name :@Model.EmployeeName</li> 
    <li> Gender : @Model.Gender</li>
    <li>Salary :@Model.Salary</li> 
    <li>Designation :@Model.Designation</li> 
  </ul>