@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2> This is Sample Controller created Manually</h2>
<p>Index Method of sample controller </p>
<h3>@ViewData["Name"] </h3>
<h3>@ViewBag.Designation </h3>